<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> <%=user.firstname %>'s homepage</title>
        <%- include ("../../templates/partials/csslinker") %>
    </head>
    <body>
		<!-- Top menu -->
		<%- include ("../../templates/partials/navbar") %>
		<section id="hero" class="d-flex align-items-center">

			<div class="container">
			  <div class="row">
				<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
				  <h1>HI! <%=user.firstname %> <%=user.lastname %></h1>
				  <h2>DROP YOUR OLD BUNCH</h2>
				  <h2>BUNDLE THE NEW ONE</h2>
					  <h2>LIVES BEGIN</h2>
					  <h2>Set a standard for</h2>
					  <h2>Helping the needy</h2>				  
					  <div><a href="/addbook" class="btn-get-started scrollto">Get Started</a></div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img">
				  <img src="./img/hero-img.png" class="img-fluid" alt="">
				</div>
			  </div>
			</div>
		
		  </section><!-- End Hero -->
        
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
		<div class="container">
  
		  <div class="section-title">
			<h2>Services</h2>
			<p>
  
			</p>
		  </div>
  
		  <div class="row">
			<div class="col-lg-4 col-md-6">
			  <div class="icon-box">
				<div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
				<h4 class="title"><a href="">ADD A BOOK</a></h4>
				<p class="description">Signup and Login to the world best website for setting the standard.Add your old and unwanted books and enjoy the community.Add the description of the book.</p>
			  </div>
			</div>
			<div class="col-lg-4 col-md-6">
			  <div class="icon-box">
				<div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
				<h4 class="title"><a href="">REQUEST A BOOK</a></h4>
				<p class="description">Search for a book you need.Request for the book and let's have a break untill the book donor catch ups the mail of your request and wait for the response.</p>
			  </div>
			</div>
  
			<div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
			  <div class="icon-box">
				<div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
				<h4 class="title"><a href="">DELETE A BOOK</a></h4>
				<p class="description">After adding a book if you feel inappropriate,you can drop the book and update it.You can see your books in the my books section.Enjoy and wait for more updates.</p>
			  </div>
			</div>
			
		  </div>
  
		</div>
	  </section><!-- End Services Section -->
		
   <!-- ======= Contact Section ======= -->
   <section id="contact" class="contact">
	<div class="container">

	  <div class="section-title">
		<h2>Contact</h2>
		<p>View my location and reach out to our official mail for suggestions and updates you need.The users reviews are our first priority.Thank you.</p>
	  </div>

	  <div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3802.9699519871756!2d78.48206981397387!3d17.604161687949002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb85faed29e081%3A0xf385dc264de2c7e9!2sCMR%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1611217155570!5m2!1sen!2sin" width="100%" height="270px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	  </div>

	  <div class="row mt-5">

		<div class="col-lg-4">
		  <div class="info">
			<div class="address">
			  <i class="icofont-google-map"></i>
			  <h4>Location:</h4>
			  <p>HYDERABAD,TS,INDIA</p>
			</div>

			<div class="email">
			  <i class="icofont-envelope"></i>
			  <h4>Email:</h4>
			  <p>bookbacker456@gmail.com</p>
			</div>

			<div class="phone">
			  <i class="icofont-phone"></i>
			  <h4>Call:</h4>
			  <p>+91 8919756880</p>
			</div>

		  </div>

		</div>

		<div class="col-lg-8 mt-5 mt-lg-0">

		  <form action="/contact" method="post" role="form" class="">
			<div class="form-row">
			  <div class="col-md-6 form-group">
				<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
				<div class="validate"></div>
			  </div>
			  <div class="col-md-6 form-group">
				<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
				<div class="validate"></div>
			  </div>
			</div>
			<div class="form-group">
			  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
			  <div class="validate"></div>
			</div>
			<div class="form-group">
			  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
			  <div class="validate"></div>
			</div>
			<div class="mb-3">
			  <div class="loading">Loading</div>
			  <div class="error-message"></div>
			  <div class="sent-message"></div>
			</div>
			<div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>
		  </form>

		</div>

	  </div>

	</div>
  </section><!-- End Contact Section -->

        <!-- Footer -->
        <footer class="footer-container">
        
	        <div class="container">
	        	<div class="row">
	        		
                    <div class="col">
						<div class="container py-4">
							<div class="copyright">
							  &copy; Copyright
							</div>
							<div>  
							  Designed by Team Innovators
							</div>
						  </div>
                    </div>
                    
                </div>
	        </div>
                	
        </footer>
        
        <!-- Javascript -->
		
    </body>

</html>